<mat-toolbar>
    Angular Material
</mat-toolbar>

<main>
    <mat-card>
        <form action="">
            <mat-form-field>
                <input type="text" matInput placeholder="Título álbum">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Id álbum</mat-label>
                <mat-select>
                    <mat-option *ngFor="let id of albumsId" [value]="albumsId">
                        {{id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput placeholder="URL" #url>
            </mat-form-field>
            <button mat-button mat-flat-button color="primary" style="display: block; width: 100%;">Guardar</button>
        </form>
    </mat-card>

    <app-photos></app-photos>

</main>